body{
	background: #ececec;
}
div{
	width: 1000px;
    background: #F7F3F2;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}
img{
	width: 100%;
}
h1{
	font-size: 60px;
	margin-top: 0;
}
span{
	color: #71B3FE;
	text-transform: uppercase;
	text-shadow: 5px 5px 5px #D4AF37;
}
p{
	font-size: 25px;
	color: grey;
	line-height: 1.6;
}